@using Microsoft.AspNet.Identity;
@using RideBike.Infrastructure.Models
     
@model UserViewModel

@{
    ViewBag.Title = "User";
}
<br/>
<h2>@Model.Name</h2>

<div class="jumbotron" id="proffon">

    <div id="profimg">
        <img src=@Model.Image  />  
    </div>

    <div>
        <table class="table" id="proftable">
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.FirstName)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => Model.FirstName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.LastName)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => Model.LastName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.Email)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => Model.Email)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.Age)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => Model.Age)
                </td>
            </tr>
        @if (Model.Team != null)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.Team)
                </th>
                <td>
                    <a href="@Url.Action("Team", "Team", new { Id = Model.TeamId })">@Html.DisplayFor(modelItem => Model.Team)</a>
                </td>

            </tr>
        }
        </table>
    </div>

    @if (User.Identity.GetUserId() == Model.Id.ToString())
    {
        <div id="profmenu">
            <p>
                <input type="button" value="Update Profile" onclick="location.href='@Url.Action("Update", "Profile", new { Id = Model.Id })'" />
            </p>

            @if (Model.Team == null)
            {
                <p>
                    <input type="button" value="Create Team" onclick="location.href='@Url.Action("Create", "Team", new { Id = Model.Id })'" />
                </p>
            }
        </div>
    }
    

</div>


