@model IEnumerable<RideBikeWeb.Models.TeamViewModels>

@{
    ViewBag.Title = "Teams";
}

<h2>Teams</h2>

<div id="TeamsTable"></div>  

@*<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.Name)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Location)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Create New Team", "CreateTeam", new { userId = item.Id })
                </td>
            </tr>
        }

    </table>
</div>*@

